<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Esto es profile</h1>
	
	<% if(message) { %>

	<p><%= message %></p>

	<% } %>
</body>
</html>